In [3]:
# 1.  試寫一程式 , 提示使用者輸入長&寬 ,   
#     計算此矩形的面積及周長
width  = float(input("請輸入長度 :"))
height = float(input("請輸入寬度 :"))

print("面積 :" , width * height)
print("周長 :" , (width + height) *2)

請輸入長度 :12.14
請輸入寬度 :33.5
面積 : 406.69
周長 : 91.28

In [7]:
# 2.  試寫一程式 ,  將此字串取代成不同的新字串 
#       1)  “this is a book.”  -->  “this is a lion.”
#       2)  “this is a book.”  -->  “**** !! a book.”
#       3)  “this is a book.”   -->  “this is an apple.”

message = "this is a book."
print( message.replace("book","lion") )
print( message.replace("this","****").replace("is","!!") )
print( message.replace("a","an").replace("book","apple") )
print( message.replace("book","apple").replace("a","an") )

this is a lion.
**** !! a book.
this is an apple.
this is an anpple.

In [11]:
# 3.  令 a=“Jeff” , b=“Leo” , c=“Jonny” , 並打印出
#       “Jeff is good , Leo is young , and Jonny is single…”
#       當 a 換成 “Steve” , c = “Dave” 時, 需打印出
#       “Steve is good , Leo is young , and Dave is single…”

# a = "Jeff"
a = "Steve"
b = "Leo"
# c = "Jonny"
c = "Dave"
message2 = "{} is good , {} is young , and {} is single..."

print( message2.format(a,b,c) )


message3 = "{name1} is good , {name2} is young , and {name3} is single..."

print( message3.format(name1 = a,name2 = c, name3 = b) )

Steve is good , Leo is young , and Dave is single...
Steve is good , Dave is young , and Leo is single...

In [14]:
# 4. 試寫一程式 , 請使用者輸入一數字 , 並按規則顯示下列訊息 :
#        0 <= n < 30  :  young
#        30<= n < 60 :  strong 
#        n >= 60        :  old
#        n < 0            :  ‘n’ must be larger than 0 

n = int(input("請輸入數字:"))

if 0 <= n < 30:
    print("young")
elif 30 <= n < 60 :
    print("strong")
elif n >=60:
    print("old")
else:
    print("'n' must be larger than 0")

請輸入數字:12
young

In [ ]:
# int / float / bool
# str & 常見用法
# print / input / type
# if-else
# 運算子
# list / dict

In [16]:
data1 = [87,99,100,75,60,79]

print("Sum1 :" , sum(data1) )
print("Avg1 :" , sum(data1)/ len(data1))

Sum1 : 500
Avg1 : 83.33333333333333

In [22]:
data2 = {
    "Jeff"  : 87,
    "Leo"   : 99,
    "Keven" : 100,
    "Holy"  : 75,
    "Elli"  : 60,
    "Jenny" : 79,
}

print("Sum2 :" , sum(data2.values()))
print("Avg2 :" , sum(data2.values()) / len(data2))
print(data2.values())
print(list(data2.values()))
print(type(data2.values()))

Sum2 : 500
Avg2 : 83.33333333333333
dict_values([87, 99, 100, 75, 60, 79])
[87, 99, 100, 75, 60, 79]
<class 'dict_values'>

In [29]:
### in
# list
students = ["Jeff","Alex","Gina"]
print( "Leo" in students)
print( "Jeff" in students)

print("-"*80)

# dict
students2 = {
    "Jeff"  : 87,
    "Leo"   : 99,
    "Keven" : 100,
}
print("Leo" in students2)
print("David" in students2)
print(100 in students2)

print("-"*80)

# str
message3 = "This is a book."
print("is" in message3)
print("abc" in message3)
print("oo" in message3)

False
True
--------------------------------------------------------------------------------
True
False
False
--------------------------------------------------------------------------------
True
False
True

In [35]:
### 小試身手 2-1
# a)
names = ["Jeff", "Leo" , "Keven", "Lisa" , "Matty"]

# b)
scores = [97,93,68,85,100]

# c)
print("嗨嗨 , 我是 {} , 成績為 {}".format(names[2] , scores[2]) )

# d)
# print("該梯次平均為 {}".format( sum(scores) / len(scores) ))

avg = sum(scores) / len(scores)
print("該梯次平均為 {}".format(avg))

# e)
scores[3] = 72
print("修改 {} 號同學 成績為 {}".format(4,scores[3]) )

# f)
print("該梯次 新平均為 {}".format( sum(scores) / len(scores) ))

嗨嗨 , 我是 Keven , 成績為 68
該梯次平均為 88.6
修改 4 號同學 成績為 72
該梯次 新平均為 86.0

In [43]:
### 小試身手 2-2
## 強烈建議 key 不要中文！！！
# data2 = {
#     "姓名" : "傑夫",
#     "年紀" : 18
# }
# print(data2)
# print(data2["姓名"])

# a)
data2 = {
    "name"   : "Jeff",
    "height" : 170,
    "weight" : 65,
    "age"    : 26,
    "class"  : "A-",
    "interest" : ["喝酒" , "爬山" , "寫程式" ]
}
print(data2)

# b)
print( "嗨嗨 , 我是 {name} , 階級為 {class_type}".format(name= data2["name"] , class_type=data2["class"]) )

# c)
data2["height"] = 180
print("修改 {name} 的身高為 {new_height}".format(name=data2["name"] , new_height = data2["height"]) )

# d)
print(data2["interest"])
data2["interest"].append("彈吉他")
print(data2["interest"])

{'name': 'Jeff', 'height': 170, 'weight': 65, 'age': 26, 'class': 'A-', 'interest': ['喝酒', '爬山', '寫程式']}
嗨嗨 , 我是 Jeff , 階級為 A-
修改 Jeff 的身高為 180
['喝酒', '爬山', '寫程式']
['喝酒', '爬山', '寫程式', '彈吉他']

In [51]:
# data1 = [85,97,100]
# data2 = { "Jeff" : 85 , "Leo" :97 , "Keven": 100 }

### dict in list
data3 = [
    { "name" : "Jeff"   , "no" : 1 , "math": 100 , "eng": 87 },
    { "name" : "Leo"    , "no" : 2 , "math": 67  , "eng": 99 },
    { "name" : "Keven"  , "no" : 3 , "math": 72  , "eng": 92 },
    { "name" : "Jenny"  , "no" : 4 , "math": 89  , "eng": 33 },
    { "name" : "Holy"   , "no" : 5 , "math": 97  , "eng": 61 },
]


# data3[0] -> { "name" : "Jeff"   , "no" : 1 , "math": 100 , "eng": 87 }
no1 = data3[0]["no"] 
name1 = data3[0]["name"]
math1 = data3[0]["math"]
eng1  = data3[0]["eng"]

## 新手常犯的錯
# eng1 = data3(0)["eng"] -> X
# eng1  = data3[0][eng]  -> X
# eng1 = data3["eng"][0] -> X

print("No : {} , Name : {} , Math : {} , Eng : {}".format(no1,name1,math1,eng1))

print("-"*80)

no2 = data3[1]["no"] 
name2 = data3[1]["name"]
math2 = data3[1]["math"]
eng2  = data3[1]["eng"]


print("No : {} , Name : {} , Math : {} , Eng : {}".format(no2,name2,math2,eng2))

print("-"*80)

no3 = data3[2]["no"] 
name3 = data3[2]["name"]
math3 = data3[2]["math"]
eng3  = data3[2]["eng"]


print("No : {} , Name : {} , Math : {} , Eng : {}".format(no3,name3,math3,eng3))

No : 1 , Name : Jeff , Math : 100 , Eng : 87
--------------------------------------------------------------------------------
No : 2 , Name : Leo , Math : 67 , Eng : 99
--------------------------------------------------------------------------------
No : 3 , Name : Keven , Math : 72 , Eng : 92

In [52]:
### 迴圈 (Loop)
data3 = [
    { "name" : "Jeff"   , "no" : 1 , "math": 100 , "eng": 87 },
    { "name" : "Leo"    , "no" : 2 , "math": 67  , "eng": 99 },
    { "name" : "Keven"  , "no" : 3 , "math": 72  , "eng": 92 },
    { "name" : "Jenny"  , "no" : 4 , "math": 89  , "eng": 33 },
    { "name" : "Holy"   , "no" : 5 , "math": 97  , "eng": 61 },
]

for element in data3:
    no = element["no"]
    name = element["name"]
    math = element["math"]
    eng  = element["eng"]
    
    print("No : {} , Name : {} , Math : {} , Eng : {}".format(no,name,math,eng))

No : 1 , Name : Jeff , Math : 100 , Eng : 87
No : 2 , Name : Leo , Math : 67 , Eng : 99
No : 3 , Name : Keven , Math : 72 , Eng : 92
No : 4 , Name : Jenny , Math : 89 , Eng : 33
No : 5 , Name : Holy , Math : 97 , Eng : 61