In [3]:
#!/usr/bin/python
# -*- coding: utf-8 -*-

# 1.  試寫一程式 , 提示使用者輸入長&寬 ,   
#     計算此矩形的面積及周長
width  = float(input("請輸入長度 :"))
height = float(input("請輸入寬度 :"))

print("面積 :" , width * height)
print("周長 :" , (width + height) *2)

請輸入長度 :12.14
請輸入寬度 :33.5
面積 : 406.69
周長 : 91.28

In [7]:
# 2.  試寫一程式 ,  將此字串取代成不同的新字串 
#       1)  “this is a book.”  -->  “this is a lion.”
#       2)  “this is a book.”  -->  “**** !! a book.”
#       3)  “this is a book.”   -->  “this is an apple.”

message = "this is a book."
print( message.replace("book","lion") )
print( message.replace("this","****").replace("is","!!") )
print( message.replace("a","an").replace("book","apple") )
print( message.replace("book","apple").replace("a","an") )

this is a lion.
**** !! a book.
this is an apple.
this is an anpple.

In [11]:
# 3.  令 a=“Jeff” , b=“Leo” , c=“Jonny” , 並打印出
#       “Jeff is good , Leo is young , and Jonny is single…”
#       當 a 換成 “Steve” , c = “Dave” 時, 需打印出
#       “Steve is good , Leo is young , and Dave is single…”

# a = "Jeff"
a = "Steve"
b = "Leo"
# c = "Jonny"
c = "Dave"
message2 = "{} is good , {} is young , and {} is single..."

print( message2.format(a,b,c) )


message3 = "{name1} is good , {name2} is young , and {name3} is single..."

print( message3.format(name1 = a,name2 = c, name3 = b) )

Steve is good , Leo is young , and Dave is single...
Steve is good , Dave is young , and Leo is single...

In [14]:
# 4. 試寫一程式 , 請使用者輸入一數字 , 並按規則顯示下列訊息 :
#        0 <= n < 30  :  young
#        30<= n < 60 :  strong 
#        n >= 60        :  old
#        n < 0            :  ‘n’ must be larger than 0 

n = int(input("請輸入數字:"))

if 0 <= n < 30:
    print("young")
elif 30 <= n < 60 :
    print("strong")
elif n >=60:
    print("old")
else:
    print("'n' must be larger than 0")

請輸入數字:12
young

In [ ]:
# int / float / bool
# str & 常見用法
# print / input / type
# if-else
# 運算子
# list / dict

In [16]:
data1 = [87,99,100,75,60,79]

print("Sum1 :" , sum(data1) )
print("Avg1 :" , sum(data1)/ len(data1))

Sum1 : 500
Avg1 : 83.33333333333333

In [22]:
data2 = {
    "Jeff"  : 87,
    "Leo"   : 99,
    "Keven" : 100,
    "Holy"  : 75,
    "Elli"  : 60,
    "Jenny" : 79,
}

print("Sum2 :" , sum(data2.values()))
print("Avg2 :" , sum(data2.values()) / len(data2))
print(data2.values())
print(list(data2.values()))
print(type(data2.values()))

Sum2 : 500
Avg2 : 83.33333333333333
dict_values([87, 99, 100, 75, 60, 79])
[87, 99, 100, 75, 60, 79]
<class 'dict_values'>

In [29]:
### in
# list
students = ["Jeff","Alex","Gina"]
print( "Leo" in students)
print( "Jeff" in students)

print("-"*80)

# dict
students2 = {
    "Jeff"  : 87,
    "Leo"   : 99,
    "Keven" : 100,
}
print("Leo" in students2)
print("David" in students2)
print(100 in students2)

print("-"*80)

# str
message3 = "This is a book."
print("is" in message3)
print("abc" in message3)
print("oo" in message3)

False
True
--------------------------------------------------------------------------------
True
False
False
--------------------------------------------------------------------------------
True
False
True

In [35]:
### 小試身手 2-1
# a)
names = ["Jeff", "Leo" , "Keven", "Lisa" , "Matty"]

# b)
scores = [97,93,68,85,100]

# c)
print("嗨嗨 , 我是 {} , 成績為 {}".format(names[2] , scores[2]) )

# d)
# print("該梯次平均為 {}".format( sum(scores) / len(scores) ))

avg = sum(scores) / len(scores)
print("該梯次平均為 {}".format(avg))

# e)
scores[3] = 72
print("修改 {} 號同學 成績為 {}".format(4,scores[3]) )

# f)
print("該梯次 新平均為 {}".format( sum(scores) / len(scores) ))

嗨嗨 , 我是 Keven , 成績為 68
該梯次平均為 88.6
修改 4 號同學 成績為 72
該梯次 新平均為 86.0

In [43]:
### 小試身手 2-2
## 強烈建議 key 不要中文！！！
# data2 = {
#     "姓名" : "傑夫",
#     "年紀" : 18
# }
# print(data2)
# print(data2["姓名"])

# a)
data2 = {
    "name"   : "Jeff",
    "height" : 170,
    "weight" : 65,
    "age"    : 26,
    "class"  : "A-",
    "interest" : ["喝酒" , "爬山" , "寫程式" ]
}
print(data2)

# b)
print( "嗨嗨 , 我是 {name} , 階級為 {class_type}".format(name= data2["name"] , class_type=data2["class"]) )

# c)
data2["height"] = 180
print("修改 {name} 的身高為 {new_height}".format(name=data2["name"] , new_height = data2["height"]) )

# d)
print(data2["interest"])
data2["interest"].append("彈吉他")
print(data2["interest"])

{'name': 'Jeff', 'height': 170, 'weight': 65, 'age': 26, 'class': 'A-', 'interest': ['喝酒', '爬山', '寫程式']}
嗨嗨 , 我是 Jeff , 階級為 A-
修改 Jeff 的身高為 180
['喝酒', '爬山', '寫程式']
['喝酒', '爬山', '寫程式', '彈吉他']

In [51]:
# data1 = [85,97,100]
# data2 = { "Jeff" : 85 , "Leo" :97 , "Keven": 100 }

### dict in list
data3 = [
    { "name" : "Jeff"   , "no" : 1 , "math": 100 , "eng": 87 },
    { "name" : "Leo"    , "no" : 2 , "math": 67  , "eng": 99 },
    { "name" : "Keven"  , "no" : 3 , "math": 72  , "eng": 92 },
    { "name" : "Jenny"  , "no" : 4 , "math": 89  , "eng": 33 },
    { "name" : "Holy"   , "no" : 5 , "math": 97  , "eng": 61 },
]

# data3 為 一個 list 
# data3[0] -> { "name" : "Jeff"   , "no" : 1 , "math": 100 , "eng": 87 } , 為一個 dict
# data3[0]["no"] -> 1 
no1 = data3[0]["no"] 
name1 = data3[0]["name"]
math1 = data3[0]["math"]
eng1  = data3[0]["eng"]

## 新手常犯的錯
# eng1 = data3(0)["eng"] -> X
# eng1  = data3[0][eng]  -> X
# eng1 = data3["eng"][0] -> X

print("No : {} , Name : {} , Math : {} , Eng : {}".format(no1,name1,math1,eng1))

print("-"*80)

no2 = data3[1]["no"] 
name2 = data3[1]["name"]
math2 = data3[1]["math"]
eng2  = data3[1]["eng"]


print("No : {} , Name : {} , Math : {} , Eng : {}".format(no2,name2,math2,eng2))

print("-"*80)

no3 = data3[2]["no"] 
name3 = data3[2]["name"]
math3 = data3[2]["math"]
eng3  = data3[2]["eng"]


print("No : {} , Name : {} , Math : {} , Eng : {}".format(no3,name3,math3,eng3))

No : 1 , Name : Jeff , Math : 100 , Eng : 87
--------------------------------------------------------------------------------
No : 2 , Name : Leo , Math : 67 , Eng : 99
--------------------------------------------------------------------------------
No : 3 , Name : Keven , Math : 72 , Eng : 92

In [53]:
### 迴圈 (Loop)
data3 = [
    { "name" : "Jeff"   , "no" : 1 , "math": 100 , "eng": 87 },
    { "name" : "Leo"    , "no" : 2 , "math": 67  , "eng": 99 },
    { "name" : "Keven"  , "no" : 3 , "math": 72  , "eng": 92 },
    { "name" : "Jenny"  , "no" : 4 , "math": 89  , "eng": 33 },
    { "name" : "Holy"   , "no" : 5 , "math": 97  , "eng": 61 },
]

print("Start !!!")

for element in data3:
    no = element["no"]
    name = element["name"]
    math = element["math"]
    eng  = element["eng"]
    
    print("No : {} , Name : {} , Math : {} , Eng : {}".format(no,name,math,eng))
    
    
print("Done !!!")

Start !!!
No : 1 , Name : Jeff , Math : 100 , Eng : 87
No : 2 , Name : Leo , Math : 67 , Eng : 99
No : 3 , Name : Keven , Math : 72 , Eng : 92
No : 4 , Name : Jenny , Math : 89 , Eng : 33
No : 5 , Name : Holy , Math : 97 , Eng : 61
Done !!!

In [55]:
# range(1,10) -> 產生 1 ~ 9 的數字 , 為 [1,2,3,4,5,6,7,8,9]
for i in range(1,10):
    print(i)
    a = i*i
    print("Number : {}".format(a))
    
    # i=1:
    # print(1)
    # a = 1*1 -> 1
    # print("Number : {}".format(1))
    
    # i=2:
    # print(2)
    # a = 2*2 -> 4
    # print("Number : {}".format(4))
    
    # ...
    
    # i=9:
    # print(9)
    # a = 9*9 -> 81
    # print("Number : {}".format(81))

1
Number : 1
2
Number : 4
3
Number : 9
4
Number : 16
5
Number : 25
6
Number : 36
7
Number : 49
8
Number : 64
9
Number : 81

In [59]:
print("Start!!!")
for i in range(1,10):
    print(i)
    a = i*i
    print("Number : {}".format(a))
print("Done!!!")

# if a>0:
#     print("a 是正數")

Start!!!
1
Number : 1
2
Number : 4
3
Number : 9
4
Number : 16
5
Number : 25
6
Number : 36
7
Number : 49
8
Number : 64
9
Number : 81
Done!!!

In [65]:
### range
for i in range(3,7):
    print("嗨嗨嗨～～～")

# 類似於
# for i in [3,4,5,6]:
#     print("嗨嗨嗨～～～")
    
print("-"*80)

### list
for name in [b,"Leo","Keven","Tommy"]:
    print("您好 , 我是 {}".format(name))

# 迭代 : (一個接一個 , 依序操作)
   # "Jeff" 放入 name 變數裡 -> "Leo" 放入 name 變數裡  
   # -> "Keven" 放入 name 變數裡 -> "Tommy" 放入 name 變數裡

print("-"*80)


### dict
dict5 = {"name" : "Jeff" , "age" : 18 , "message" : "您好～～～"}

for key in dict5:
    print(key)
    print(dict5[key])

嗨嗨嗨～～～
嗨嗨嗨～～～
嗨嗨嗨～～～
嗨嗨嗨～～～
--------------------------------------------------------------------------------
您好 , 我是 Jeff
您好 , 我是 Leo
您好 , 我是 Keven
您好 , 我是 Tommy
--------------------------------------------------------------------------------
name
Jeff
age
18
message
您好～～～

In [69]:
### str
message5 = "嗨嗨, 今天好累～"

for w in message5:
    print(w)
    
print("-"*80)

### dict in list:
data6 = [
    { "name" : "Jeff" , "age" : 18 },
    { "name" : "Leo"  , "age" : 22 },
    { "name" : "Keven" , "age" : 30 },
]

for element in data6:
    print(element["name"] , element["age"])

嗨
嗨
,

今
天
好
累
～
--------------------------------------------------------------------------------
Jeff 18
Leo 22
Keven 30

In [76]:
### 小試身手 3-1 
# 1) 1+2+3+...+100 總和
# 產生 [1,2,3, ... , 10] -> 使用 range function
total = 0
for i in range(1,101):
    total = total + i
    print("i =",i,"目前總和 :" , total)

i = 1 目前總和 : 1
i = 2 目前總和 : 3
i = 3 目前總和 : 6
i = 4 目前總和 : 10
i = 5 目前總和 : 15
i = 6 目前總和 : 21
i = 7 目前總和 : 28
i = 8 目前總和 : 36
i = 9 目前總和 : 45
i = 10 目前總和 : 55
i = 11 目前總和 : 66
i = 12 目前總和 : 78
i = 13 目前總和 : 91
i = 14 目前總和 : 105
i = 15 目前總和 : 120
i = 16 目前總和 : 136
i = 17 目前總和 : 153
i = 18 目前總和 : 171
i = 19 目前總和 : 190
i = 20 目前總和 : 210
i = 21 目前總和 : 231
i = 22 目前總和 : 253
i = 23 目前總和 : 276
i = 24 目前總和 : 300
i = 25 目前總和 : 325
i = 26 目前總和 : 351
i = 27 目前總和 : 378
i = 28 目前總和 : 406
i = 29 目前總和 : 435
i = 30 目前總和 : 465
i = 31 目前總和 : 496
i = 32 目前總和 : 528
i = 33 目前總和 : 561
i = 34 目前總和 : 595
i = 35 目前總和 : 630
i = 36 目前總和 : 666
i = 37 目前總和 : 703
i = 38 目前總和 : 741
i = 39 目前總和 : 780
i = 40 目前總和 : 820
i = 41 目前總和 : 861
i = 42 目前總和 : 903
i = 43 目前總和 : 946
i = 44 目前總和 : 990
i = 45 目前總和 : 1035
i = 46 目前總和 : 1081
i = 47 目前總和 : 1128
i = 48 目前總和 : 1176
i = 49 目前總和 : 1225
i = 50 目前總和 : 1275
i = 51 目前總和 : 1326
i = 52 目前總和 : 1378
i = 53 目前總和 : 1431
i = 54 目前總和 : 1485
i = 55 目前總和 : 1540
i = 56 目前總和 : 1596
i = 57 目前總和 : 1653
i = 58 目前總和 : 1711
i = 59 目前總和 : 1770
i = 60 目前總和 : 1830
i = 61 目前總和 : 1891
i = 62 目前總和 : 1953
i = 63 目前總和 : 2016
i = 64 目前總和 : 2080
i = 65 目前總和 : 2145
i = 66 目前總和 : 2211
i = 67 目前總和 : 2278
i = 68 目前總和 : 2346
i = 69 目前總和 : 2415
i = 70 目前總和 : 2485
i = 71 目前總和 : 2556
i = 72 目前總和 : 2628
i = 73 目前總和 : 2701
i = 74 目前總和 : 2775
i = 75 目前總和 : 2850
i = 76 目前總和 : 2926
i = 77 目前總和 : 3003
i = 78 目前總和 : 3081
i = 79 目前總和 : 3160
i = 80 目前總和 : 3240
i = 81 目前總和 : 3321
i = 82 目前總和 : 3403
i = 83 目前總和 : 3486
i = 84 目前總和 : 3570
i = 85 目前總和 : 3655
i = 86 目前總和 : 3741
i = 87 目前總和 : 3828
i = 88 目前總和 : 3916
i = 89 目前總和 : 4005
i = 90 目前總和 : 4095
i = 91 目前總和 : 4186
i = 92 目前總和 : 4278
i = 93 目前總和 : 4371
i = 94 目前總和 : 4465
i = 95 目前總和 : 4560
i = 96 目前總和 : 4656
i = 97 目前總和 : 4753
i = 98 目前總和 : 4851
i = 99 目前總和 : 4950
i = 100 目前總和 : 5050

In [89]:
# 2) 產生圖形
### ******
### *****
### ****
### ***
### **
### *
for i in range(1,7):
    print(i,"*"*(7-i))
    # print(i)

print("-"*60)
    
# 使用 range(start,end,step)
# start -> 起點
# end   -> 終點
# step  -> 步伐
# for i in range(6,0,-1):
#     print(i,"*"*i)

1 ******
2 *****
3 ****
4 ***
5 **
6 *
------------------------------------------------------------